body {
  background-color: rgb(88, 27, 128);
}
.container-login {
  max-width: 84vw;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 2%;
  display: flex;
  height: 90vh;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.left {
  width: 50%;
  box-sizing: border-box;
  overflow-y: hidden;
}
.login-img {
  width: 33vw;
  height: 56vh;
  margin: 16vh 0vw 23vw 3vh;
}
.login-head {
  margin-top: 14vh;
  font-size: 60px;
  font-weight: bolder;
  /* padding-right: 40px; */
  align-items: center;
  z-index: -1;
}

.form-class {
  margin-top: 70px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}
.form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-field {
  width: 30vw;
  height: 41px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 40px;
  outline: none;
  border: 1px solid black;
}

.login-btn {
  display: block;
  width: 33vw;
  padding: 10px;
  font-size: 19px;
  height: 60px;
  background-color: rgb(181, 98, 236);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 24px;
}

button[type="submit"]:hover {
  background-color: rgb(165, 78, 222);
}

.eyeimg {
  width: 24px;
  margin-left: 31vw;
  height: 20px;
  position: relative;
  display: block;
  top: -30px;
}
.text-forgot {
  margin-top: 1px;
  font-size: 16px;
  color: black;
  display: block;
}
.textt {
  /* display: flex; */
  margin-top: 25px;
  font-size: 19px;
  color: black;
  display: block;
}
.link-forgot {
  text-decoration: none;
  font-weight: bolder;
  padding-left: 10px;
}

.link a {
  text-decoration: none;
  font-weight: 500;
  padding-left: 10px;
}
.forgot-pass {
  cursor: pointer;
}
@media (max-width: 970px) {
  .container-login {
    max-width: 880px;
    height: 90vh;
  }
  .eyeimg {
    margin-left: 30vw;
  }
}

@media (max-width: 900px) {
  .container-login {
    max-width: 700px;
    /* margin-top: 8%; */
    height: 90vh;
  }
  /* .eyeimg {
    margin-left: 29vw;
  } */
}

@media (max-width: 760px) {
  .container-login {
    max-width: 640px;
  }
  .eyeimg {
    margin-left: 30vw;
  }

  .login-head {
    font-size: 48px;
    text-align: center;
  }

  .textt {
    /* display: flex; */
    margin-top: 25px;
    font-size: 14px;
    color: black;
    display: block;
  }

  .link a {
    text-decoration: none;
    color: #4152d5;
    font-weight: bold;
    padding-left: 10px;
  }
  .linkk a {
    text-decoration: none;
    color: #4152d5;
    padding-left: 10px;
  }
}

@media (max-width: 670px) {
  .container-login {
    max-width: 580px;
    margin-top: 6%;
  }
  .left {
    display: none;
  }
  .form-login {
    /* width: 100%; */
    padding-left: 5vw;
  }
  .input-field {
    width: 70vw;
  }

  .eyeimg {
    margin-left: 9vw;
  }
  .login-btn {
    width: 70vw;
    /* margin-top: -10px; */
  }
}

@media (max-width: 600px) {
  .container-login {
    max-width: 540px;
  }
}

@media (max-width: 530px) {
  .container-login {
    max-width: 460px;
    margin-top: 7%;
    height: 90vh;
  }
}

@media (max-width: 468px) {
  .container-login {
    max-width: 390px;
  }

  .eyeimg {
    margin-left: 60vw;
  }
}

@media (max-width: 419px) {
  .container-login {
    max-width: 340px;
  }

  .input-field {
    /* margin-top: -10px; */
    /* width: 53vw; */
  }
  .eyeimg {
    margin-left: 53vw;
  }
}

@media (max-width: 372px) {
  .container-login {
    max-width: 340px;
    margin-top: 7%;
    height: 90vh;
  }
  .eyeimg {
    margin-left: 52vw;
  }
}

@media (max-width: 363px) {
  .container-login {
    max-width: 340px;
    margin-top: 7%;
    height: 90vh;
  }
  .eyeimg {
    margin-left: 62vw;
  }
  .form-class {
    /* padding-top: -20px; */
  }
}
@media (max-width: 357px) {
  .container-login {
    max-width: 290px;
    margin-top: 7%;
    height: 90vh;
  }
  .eyeimg {
    margin-left: 50vw;
  }
}

@media (max-width: 302px) {
  .container-login {
    max-width: 250px;
    margin-top: 7%;
    height: 90vh;
  }
  .eyeimg {
    margin-left: 50vw;
  }
}
@media (max-width: 280px) {
  .container-login {
    max-width: 217px;
  }
}

@media (min-width: 1024px) and (max-width: 1024px) {
  .form-class {
    margin-top: 25px;
  }

  .container-login {
    max-width: 940px;
  }
  .eyeimg {
    margin-left: 28vw;
  }
}
