.post-box {
  width: 39vw;
  background-color: white;
  color: WHITE;
  padding: 10px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
  background-color: #161719;
  border-radius: 19px;
}

.box1 {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.post-box-name {
  width: 15vw;
  font-weight: 400;
  font-size: 18px;
  color: white;
  margin-bottom: 0;
}

.post-box-username {
  font-weight: 500;
  font-size: 19px;
  line-height: 20px;
  color: #ae71d7;
  margin-bottom: 0;
  cursor: pointer;
}
.post-texts {
  width: 42.7vw;
  margin-top: 6vh;
  margin-bottom: 1vh;
  color: white;
  font-weight: 300;
  font-size: 19px;
}

.like-icon {
  width: 26px;
  height: 26px;
  margin-top: 5vh;
  margin-right: 3vw;
  cursor: pointer;
}

.imgss {
  display: flex;
}
.likes-count {
  margin-top: -0.5vh;
  font-weight: 400;
  margin-bottom: 0.8vh;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  margin-left: 0.5vw;
}
.book-icon {
  width: 26px;
  height: 26px;
  margin-top: 3vh;
  cursor: pointer;
  margin-left: 35.5vw;
  right: 0;
}

.post-img {
  width: 30vw;
}

.comment-box {
  margin-top: 1px;
}

.comment-input {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.comment-input input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.comment-input button {
  border: none;
  width: 6vw;
  height: 36px;
  /* margin-left: 1.7vw; */
  border-radius: 13px;
  cursor: pointer;
  font-weight: 200;
  font-size: 13px;
  margin-left: 0.4vw;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(174, 113, 215, 0.9);
}

.comment-input button:hover {
  background-color: #dd90e4;
}

@media (max-width: 381px) {
  .post-box {
    width: 77vw;
  }
  .book-icon {
    width: 26px;
    height: 26px;

    margin-left: 70.5vw;
  }
}
