body {
  background-color: #ae71d7;
}
.container-signup {
  max-width: 84vw;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 2%;
  display: flex;
  height: 90vh;
  /* align-items: center; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.left {
  width: 50%;
  box-sizing: border-box;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
}
.signup-img {
  width: 39vw;
  height: 59vh;
  margin: 16vh 0vw 23vw 3vh;
  justify-content: center;
  align-items: center;
}

.form-signup {
  margin: auto;
}
.signup-head {
  margin-top: 0.5vh;
  font-size: 41px;
  font-weight: bolder;
  /* padding-right: 40px;
   */
  text-align: center;
  z-index: -1;
}

.form-class2 {
  margin-top: -20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
}
.form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-fieldd {
  width: 30vw;
  height: 34px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 40px;
  outline: none;
  border: 1px solid black;
}

button[type="submit"]:hover {
  background-color: #9148c1;
}
.signup-btn {
  display: block;
  width: 33vw;
  padding: 10px;
  font-size: 19px;
  height: 50px;
  background-color: #ae71d7;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-top: -10px;
}

.texttt {
  margin-top: 5px;
  font-size: 16px;
  color: black;
  display: block;
}

.linkk a {
  text-decoration: none;
  font-weight: bold;
  padding-left: 10px;
}

.eyeimg2 {
  width: 24px;
  margin-left: 31vw;
  height: 20px;
  position: relative;
  display: block;
  top: -27px;
}

@media (max-width: 670px) {
  .container-signup {
    max-width: 600px;
    margin-top: 4%;
    /* height: 90vh; */
  }
  .left {
    display: none;
  }
  .form-signup {
    /* width: 100%; */
    padding-left: 7vw;
  }
  .input-fieldd {
    width: 74vw;
  }

  .eyeimg2 {
    margin-left: 74vw;
  }

  .signup-btn {
    width: 70vw;
  }
}

@media (max-width: 600px) {
  .container-signup {
    max-width: 520px;
    /* margin-top: 7%; */
    /* height: 90vh; */
  }
  .input-fieldd {
    width: 66vw;
  }

  .eyeimg2 {
    margin-left: 68vw;
  }
}
@media (max-width: 562px) {
  .container-signup {
    max-width: 520px;
  }
  .input-fieldd {
    width: 70vw;
  }

  .eyeimg2 {
    margin-left: 70vw;
  }
}

@media (max-width: 530px) {
  .container-signup {
    max-width: 490px;
    margin-top: 7%;
    height: 90vh;
  }
  .eyeimg2 {
    margin-left: 71vw;
  }
}
@media (max-width: 507px) {
  .container-signup {
    max-width: 470px;
    margin-top: 7%;
    height: 90vh;
  }
  .eyeimg2 {
    margin-left: 71vw;
  }
}

@media (max-width: 476px) {
  .container-signup {
    max-width: 440px;
  }

  .eyeimg2 {
    margin-left: 73vw;
  }
}
@media (max-width: 448px) {
  .container-signup {
    max-width: 410px;
  }

  .eyeimg2 {
    margin-left: 73vw;
  }
}

@media (max-width: 419px) {
  .container-signup {
    max-width: 370px;
  }

  .input-fieldd {
    width: 65vw;
  }
  .eyeimg2 {
    margin-left: 66vw;
  }
}

@media (max-width: 386px) {
  .container-signup {
    max-width: 360px;
  }

  .input-fieldd {
    width: 65vw;
  }
  .eyeimg2 {
    margin-left: 67vw;
  }
}
@media (max-width: 373px) {
  .container-signup {
    max-width: 340px;
    margin-top: 7%;
    height: 90vh;
  }
  .eyeimg2 {
    margin-left: 71vw;
  }
  .input-fieldd {
    width: 70vw;
  }
}

@media (max-width: 363px) {
  .container-signup {
    max-width: 340px;
    margin-top: 7%;
    height: 90vh;
  }
  .eyeimg {
    margin-left: 52vw;
  }
  .input-fieldd {
    width: 70vw;
  }
}
@media (max-width: 357px) {
  .container-signup {
    max-width: 301px;
    margin-top: 7%;
    height: 90vh;
  }
  .input-fieldd {
    width: 61vw;
  }
  .eyeimg2 {
    margin-left: 61vw;
  }
}

@media (max-width: 302px) {
  .container-signup {
    max-width: 250px;
    margin-top: 7%;
    height: 90vh;
  }
  .eyeimg {
    margin-left: 50vw;
  }
}
@media (max-width: 280px) {
  .signup-head {
    margin-left: 1vw;
  }
  .container-signup {
    max-width: 217px;
  }
}

@media (min-width: 1024px) and (max-width: 1024px) {
  .form-class2 {
    margin-top: 25px;
  }

  .container-signup {
    max-width: 940px;
  }
  .eyeimg {
    margin-left: 28vw;
  }
}
