/* color: rgb(174, 113, 215, 0.9); */
/* #AE71D7 */
.sidebar {
  box-sizing: border-box;
  position: fixed;
  width: 21.1vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(15, 15, 15);
}

.sidebar-head {
  margin-left: 3.5vw;
  margin-top: 35px;
  font-weight: 500;
  font-size: 39px;
  color: rgb(174, 113, 215);
}

.cross-icon {
  width: 20px;
  margin-left: 10vw;
  padding-left: 34vw;
  display: none;
}

.lists-item {
  list-style: none;
  font-size: 24px;
  font-weight: 200;
  /* margin-left: -10px; */
  list-style-type: none;
  margin-top: 10vh;
  align-items: center;
}

.home-icon {
  padding-right: 1.6vw;
  opacity: 0.8;
  width: 33px;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

#home-name {
  color: white;
  font-weight: 400;
}
#home-name2 {
  font-weight: 600;

  color: rgb(174, 113, 215, 0.9);
}
.search-icon-list {
  padding-right: 1.6vw;
  opacity: 0.8;
  width: 35px;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.search-name {
  font-weight: 400;
  color: white;
}
.search-name2 {
  font-weight: 600;
  color: rgb(174, 113, 215, 0.9);
}
.bell-icon {
  padding-right: 2vw;
  opacity: 0.8;
  width: 27px;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.bell-name {
  color: white;
  font-weight: 400;
}

.bell-name2 {
  font-weight: 600;
  color: rgb(174, 113, 215, 0.9);
}

.bookmark-icon {
  padding-right: 2.44vw;
  opacity: 0.8;
  width: 20px;
  align-items: center;
  margin-top: 30px;
  text-align: center;
}

.bookmarks-name {
  color: white;
  font-weight: 400;
}
.bookmarks-name2 {
  font-weight: 600;
  color: rgb(174, 113, 215, 0.9);
}

.profile-icon {
  padding-right: 2.34vw;
  opacity: 0.8;
  width: 23px;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}
.profile-name {
  color: white;
  font-weight: 400;
}

.profile-name2 {
  color: rgb(174, 113, 215, 0.9);
  font-weight: 600;
}
.message-name {
  color: white;
  font-weight: 400;
}

.message-name2 {
  font-weight: 600;
  color: rgb(174, 113, 215, 0.9);
}

.message-icon {
  padding-right: 2.1vw;
  opacity: 0.8;
  width: 26px;
  margin-top: 30px;
}

.create-post-btn {
  border: none;
  width: 10vw;
  height: 39px;
  border-radius: 13px;
  cursor: pointer;
  font-weight: 500;
  font-size: 19px;
  margin-top: 6vh;
  margin-left: 1vw;
  color: black;
  background-color: #ae71d7;
}
.itm2 {
  display: flex;
}
.list-item-logout {
  list-style: none;
  font-size: 24px;
  font-weight: 100;
  /* margin-left: -10px; */
  list-style-type: none;
  margin-top: 5vh;
  align-items: center;
}
.logoutt-icon {
  padding-right: 2.1vw;
  opacity: 0.8;
  width: 29px;
  margin-top: 30px;
}

.logout-name {
  color: white;
  font-weight: 100;
}

/* responsive */

@media (max-width: 1045px) {
  .sidebar {
    width: 25.1vw;
    height: 100%;
  }
  .lists-item {
    font-weight: 100;
    font-size: 21px;
  }
}

@media (max-width: 967px) {
  .sidebar {
    width: 28.1vw;
    height: 100%;
  }
  .lists-item {
    font-weight: 100;
    font-size: 21px;
  }
}
@media (max-width: 867px) {
  .sidebar {
    width: 33.1vw;
  }
  .lists-item {
    font-weight: 100;
    font-size: 21px;
  }
}

@media (max-width: 610px) {
  .sidebar {
    width: 33.1vw;
  }
  .list-item {
    font-size: 18px;
    color: rgba(224, 216, 216, 0.9);
  }
  .lists-item {
    margin-left: 0;
  }
}

@media (max-width: 453px) {
  .sidebar {
    width: 45.1vw;
  }
  .lists-item {
    font-size: 21px;
    margin-left: -20px;
  }
}

@media (max-width: 381px) {
  .sidebar {
    width: 100%;
    width: 100vw;
    left: 0;
  }
  .lists-item {
    font-size: 21px;
    margin-left: 30px;
  }
  .cross-icon {
    margin-left: 50vw;
    display: block;
  }
}
