.container-logout {
  margin-left: 20vw;
  display: flex;
  height: 100vh;
  overflow-y: hidden;
  background-color: aliceblue;
}
.left-logout {
  width: 40%;
  margin-left: 10vw;
  box-sizing: border-box;
  /* overflow-y: hidden; */
  /* margin: 0 auto; */
}
.logout-img {
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.right-logout {
  color: white;
  margin-top: 10vh;
  margin-left: 5vw;
}
.logout-text {
  margin-top: 20vh;
  font-size: 30px;
  font-weight: bolder;
  padding-right: 40px;
  align-items: center;
  z-index: -1;
  color: black;
}

.yes {
  border: none;
  width: 10vw;
  height: 36px;
  /* margin-left: 1.7vw; */
  border-radius: 13px;
  cursor: pointer;
  font-weight: 300;
  font-size: 17px;
  margin-top: 4vh;
  margin-left: 1vw;
  color: black;
  background-color: #ae71d7;
}

.no {
  border: none;
  width: 10vw;
  height: 36px;
  color: black;
  /* margin-left: 1.7vw; */
  border-radius: 13px;
  cursor: pointer;
  font-weight: 300;
  font-size: 17px;
  margin-top: 4vh;
  margin-left: 1vw;
  background-color: #ae71d7;
}

.yes:hover {
  background-color: rgb(192, 55, 216);
}
.no:hover {
  background-color: rgb(192, 55, 216);
}
