.home-page {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 26vw;
  /* top: 90px; */
  padding: 10px 4px 20px 8px;
  background: black;
  border-radius: 8px;
  position: fixed;
  overflow-y: scroll;
  scroll-behavior: smooth;
  color: white;
  width: 40vw;
  height: 100vh;

  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.home-page::-webkit-scrollbar {
  width: 6px;
}

.home-page::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color of the scrollbar thumb */
}

.home-page::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the scrollbar track */
}

.home-center {
}
.home-head {
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
  font-size: 39px;
  color: rgb(174, 113, 215);
}

.home-right {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 68vw;
  top: -10px;
  padding: 10px 4px 20px 8px;
  background: black;
  border-radius: 8px;
  position: fixed;
  overflow-y: scroll;
  /* scroll-behavior: smooth; */
  color: white;
  width: 30.4vw;
  height: 100vh;
}
.home-right::-webkit-scrollbar {
  width: 6px;
}

.home-right::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color of the scrollbar thumb */
}

.home-right::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the scrollbar track */
}
