.home-page {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 26vw;
  /* top: 90px; */
  padding: 10px 4px 20px 8px;
  background: black;
  border-radius: 8px;
  position: fixed;
  /* overflow-y: scroll; */
  /* scroll-behavior: smooth; */
  color: white;
  width: 40vw;
  height: 100vh;
}
.home-center {
}
.home-head {
  text-align: center;
  margin-top: 40px;
  font-weight: 500;
  font-size: 39px;
  color: rgb(174, 113, 215);
}
