.HOME {
  width: 100vw;
  height: 100vh;
  /* padding: 20px; */
  background: rgb(16, 16, 16);
}

.home-page {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 21vw;
  /* top: 90px; */
  padding: 10px 4px 20px 8px;
  background: black;
  border-radius: 8px;
  position: fixed;
  overflow-y: scroll;
  scroll-behavior: smooth;
  color: white;
  width: 56vw;
  height: 100vh;
  overflow-x: scroll;
  /* scrollbar-width: thin; */
  scrollbar-color: transparent transparent;
}

.home-page::-webkit-scrollbar {
  width: 6px;
}

.home-page::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color of the scrollbar thumb */
}

.home-page::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the scrollbar track */
}

.home-center {
}
.home-head {
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
  font-size: 39px;
  /* position: fixed; */
  color: #ae71d7;
}

.home-right {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 77.8vw;
  top: -10px;
  padding: 10px 4px 20px 8px;
  background: rgb(16, 16, 16);
  border-radius: 8px;
  position: fixed;
  overflow-y: scroll;
  /* scroll-behavior: smooth; */
  color: white;
  width: 21.9vw;
  height: 100vh;
}
.home-right::-webkit-scrollbar {
  width: 6px;
}

.home-right::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color of the scrollbar thumb */
}

.home-right::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the scrollbar track */
}

.home-feeds {
  /* left: 21vw; */
  margin-top: 3vh;
  cursor: pointer;
}

.logout-icon {
  width: 30px;
  margin-left: 14vw;
  margin-top: 4vh;
  cursor: pointer;
}
.menu-icon-home {
  width: 20px;
  margin-top: 2.8vh;
  cursor: pointer;
  display: none;
  margin-left: 2.8vw;
}

@media (max-width: 967px) {
  .home-page {
    left: 27vw;
    width: 55vw;
  }
  .lists-item {
    list-style: none;
    /* margin-top: 30px; */
    font-weight: 100;
    font-size: 21px;
    color: rgba(224, 216, 216, 0.9);
  }
}

@media (max-width: 867px) {
  .home-page {
    left: 33vw;
    width: 60vw;
  }
  .lists-item {
    list-style: none;
    /* margin-top: 30px; */
    font-weight: 100;
    font-size: 20px;
    color: rgba(224, 216, 216, 0.9);
  }
}

@media (max-width: 727px) {
  .home-page {
    left: 33vw;
    width: 60vw;
  }
  .lists-item {
    list-style: none;
    /* margin-top: 30px; */
    font-weight: 100;
    font-size: 18px;
    color: rgba(224, 216, 216, 0.9);
  }
}
@media (max-width: 453px) {
  .home-page {
    left: 45vw;
    width: 60vw;
  }
  .lists-item {
    font-size: 21px;
    margin-left: -20px;
  }
}
@media (max-width: 381px) {
  .home-page {
    left: 0vw;
    width: 100%;
  }
  .menu-icon-home {
    width: 20px;
    margin-top: 3.8vh;
    cursor: pointer;
    display: block;
    margin-left: 2.8vw;
    position: fixed;
  }
}
