.message-page {
  background-color: rgb(19, 19, 19);
  width: 100vw;
  height: 100vh;
}
.message-box-body {
  display: flex;
  flex-direction: column;
  left: 21vw;
  padding: 10px 4px 20px 8px;
  background: black;
  border-radius: 8px;
  position: fixed;
  color: white;
  width: 37.9vw;
  height: 100vh;
}

.message-box {
  width: 38.9vw;
  height: 100vh;
  border: 2px solid white;
}

.chat-text {
  text-align: center;
  margin: 0 auto;
  margin-top: 40vh;
  font-size: 26px;
  font-weight: 500;
}

.search-users-messages {
  display: flex;
  flex-direction: column;
  left: 61.6vw;
  padding: 10px 4px 20px 8px;
  background: black;
  border-radius: 8px;
  position: fixed;
  color: white;
  height: 100vh;
  width: 36.9vw;
  background-color: indianred;
}

.msg-imgg {
  width: 20px;
  height: 20px;
  margin-left: 33.3vw;
  position: absolute;
  cursor: pointer;
}
.ss {
  display: flex;
  flex-direction: column;
}

.all-chats {
  padding: 7px;
  /* background-color: rgb(170, 101, 222); */
  /* flex-direction: column; */
  align-items: center;
  /* display: flex; */
  color: black;
  width: 90%;
}

.all-chat {
  padding: 10px;
  cursor: pointer;
  background-color: rgb(226, 97, 218);
  background-color: rgb(238, 134, 134);
}
.sender {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 21px;
  margin-bottom: 1.9vh;
  color: white;
}
