.message-page {
  background-color: rgb(19, 19, 19);
  width: 100vw;
  height: 100vh;
}
.message-box-body {
  display: flex;
  flex-direction: column;
  left: 21vw;
  padding: 10px 4px 20px 8px;
  background: black;
  border-radius: 8px;
  position: fixed;
  color: white;
  width: 37.9vw;
  height: 100vh;
}

.message-box {
  width: 38.9vw;
  height: 94vh;
  border: 2px solid white;
}
.chat-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px solid white;
}

.sender-heading {
  font-size: 29px;
  font-weight: 500;
}
.send-input-msg {
  margin-top: 68vh;
}
.input-msg {
  /* width: 90%; */
  border: none;
  outline: none;
  /* position: fixed; */
  width: 35.6vw;
  height: 49px;
  background: #151515;
  border-radius: 11px;
  font-weight: 100;
  font-size: 15px;
  /* display: inline-block; */
  padding-left: 2vw;
  color: rgba(255, 255, 255, 0.7);
}

.send-img {
  width: 30px;
  margin-top: 10px;
  margin-left: -3vw;
  position: absolute;
  cursor: pointer;
}
.chat-text {
  text-align: center;
  margin: 0 auto;
  margin-top: 40vh;
  font-size: 26px;
  font-weight: 500;
}

.search-users-messages {
  display: flex;
  flex-direction: column;
  left: 61.6vw;
  padding: 10px 4px 20px 8px;
  background: black;
  border-radius: 8px;
  position: fixed;
  color: white;
  height: 100vh;
  width: 36.9vw;
  background-color: indianred;
}

.msg-imgg {
  width: 20px;
  height: 20px;
  margin-left: 33.3vw;
  position: absolute;
  cursor: pointer;
}
.ss {
  display: flex;
  flex-direction: column;
}

.all-chats {
  padding: 7px;
  /* background-color: rgb(170, 101, 222); */
  /* flex-direction: column; */
  align-items: center;
  /* display: flex; */
  color: black;
  width: 90%;
}

.all-chat {
  padding: 10px;
  cursor: pointer;
  /* background-color: rgb(226, 97, 218); */
  /* background-color: rgb(238, 134, 134); */
}
.sender {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 21px;
  margin-bottom: 1.9vh;
  color: white;
}
