.profile-head {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgb(28, 28, 28);
}

.profile-page {
  width: 60vw;
  left: 31vw;
  position: absolute;
  top: 100px;
  padding-bottom: 3vh;
  background: #121212;
  border-radius: 20px;
  color: white;
}
.profile-body {
  display: flex;
  padding-top: 6vh;
}

.profile-div {
  display: flex;
  flex-direction: column;
  margin-left: 6.1vw;
}
.user-img {
  margin-left: 1vw;
  width: 190px;
  cursor: pointer;
  height: 190px;
  border-radius: 50%;
}
.user-img3 {
  margin-left: 2vw;
  width: 100px;
  cursor: pointer;
  height: 100px;
  border-radius: 50%;
  margin-top: 2vh;
  margin-bottom: -8vh;
}

.profile1 {
  display: flex;
  margin-left: -4vw;
  margin-top: 5vh;
  margin-bottom: -20px;
}

.posts {
  margin-right: 10vw;
  font-weight: 400;
  font-size: 19px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  margin-bottom: 2vh;
}

.profile2 {
  display: flex;
  justify-content: space-evenly;
  margin-left: -15vw;
}

.count {
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
}

.count:hover {
  color: rgba(255, 255, 255, 0.9);
}
.profile3 {
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  margin-top: 2.5vh;
}

.profile-info1 {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 21px;
  margin-bottom: 0.1vh;
  color: white;
}

.profile-info3 {
  font-weight: 400;
  margin-bottom: 0.1vh;
  color: rgba(255, 255, 255, 0.6);
  font-size: 21px;
}

.profile-info2 {
  font-weight: 300;
  width: 20vw;
  height: auto;
  font-size: 16px;
  margin-bottom: 0.3vh;
  color: rgba(255, 255, 255, 0.9);
}

.profile-info4 {
  font-weight: 400;
  font-size: 19px;
  line-height: 20px;
  margin-bottom: 3vh;
  color: rgba(255, 255, 255, 0.9);
}

.edit-icon {
  width: 26px;
  height: 26px;
  margin-top: 2.9vh;
  cursor: pointer;
  margin-left: 55.9vw;
}

/* edit profile */

.edit-profile-pagee {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgb(28, 28, 28);
}
.edit-profile-page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 11vh;
  left: 35.5vw;
  width: 50vw;
  padding-bottom: 35px;
  height: fit-content;
  background-color: #121212;
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  z-index: 110;
  color: white;
}
.input-profile-img {
  background: none;
  border: none;
  outline: none;
}

.edit-img-text {
  font-weight: 400;
  font-size: 16px;
  margin-left: 2vw;
  line-height: 27px;
  cursor: pointer;
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.9);
}

.edit-name {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 18px;
  margin-left: 2vw;
  line-height: 27px;
  margin-bottom: 4vh;

  color: rgba(255, 255, 255, 0.8);
}
.edit-name-text {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  width: 35vw;
  margin-left: 2vw;
  margin-top: -2vh;
  margin-bottom: 3vh;
}

.edit-name-input {
  background: none;
  border: none;
  outline: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  color: rgba(255, 255, 255, 0.8);
}

.emoji-icon2 {
  width: 24px;
  margin-left: 10vw;
  cursor: pointer;
}

.character-count {
  margin-left: 35vw;
  margin-top: -10px;
}
.character-count::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 0;
  color: #888;
  font-size: 12px;
  margin-left: 10vw;
}
.emojipicker12 {
  position: absolute;
  top: 39vh;
  left: 19vw;
}
.menu-icon-home2 {
  width: 20px;
  margin-top: 3.8vh;
  cursor: pointer;
  display: block;
  margin-left: 2.8vw;
  position: fixed;
}

@media (max-width: 1130px) {
  .profile-page {
    width: 61vw;
  }
  .profile-body {
    padding-top: 3vh;
  }
  .profile-div {
    margin-left: 5.5vw;
  }
}

@media (max-width: 1030px) {
  .profile-page {
    width: 67.4vw;
  }
  .profile-body {
    padding-top: 3vh;
  }
  .profile-div {
    margin-left: 5.5vw;
  }
}

@media (max-width: 906px) {
  .profile-page {
    width: 64.4vw;
  }
  .profile-body {
    padding-top: 3vh;
  }
  .profile-div {
    margin-left: 5.5vw;
  }
  .user-img {
    margin-top: 4.8vh;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}

@media (max-width: 867px) {
  .profile-page {
    width: 61vw;
    left: 35vw;
  }
  .profile-body {
    padding-top: 3vh;
  }
  .profile-div {
    margin-left: 5.5vw;
  }
}

@media (max-width: 800px) {
  .profile-page {
    width: 63vw;
    left: 33.8vw;
  }
  .profile-body {
    padding-top: 3vh;
  }

  .profile-div {
    display: flex;
    flex-direction: column;
    margin-left: 7vw;
  }
  .user-img {
    margin-left: 1vw;
    width: 110px;
    cursor: pointer;
    height: 110px;
    border-radius: 50%;
  }

  .posts {
    margin-right: 6vw;
    font-weight: 200;
    font-size: 17px;
  }
}

@media (max-width: 610px) {
  .profile-div {
    margin-left: 4vw;
  }
  .user-img {
    margin-left: 1vw;
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 561px) {
  .profile-div {
    margin-left: 3vw;
  }
  .user-img {
    margin-left: 1vw;
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 510px) {
  .profile-div {
    margin-left: 6vw;
  }
  .user-img {
    margin-left: 0.1vw;
    width: 70px;
    height: 70px;
    margin-top: 7vh;
  }
}

@media (max-width: 485px) {
  .profile-div {
    margin-left: 3vw;
  }
  .user-img {
    margin-left: 0.1vw;
    width: 70px;
    height: 70px;
    margin-top: 7vh;
  }
  .HOME-HEAD {
    margin-left: 30vw;
  }
}

@media (max-width: 460px) {
  .profile-page {
    width: 65vw;
    left: 35vw;
    position: absolute;
    top: 70px;
    padding-bottom: 3vh;
    background: #121212;
    border-radius: 20px;
    color: white;
  }

  .profile-div {
    margin-left: 3.1vw;
  }
  .user-img {
    margin-left: -1vw;
  }

  .posts {
    margin-right: 6vw;
    font-size: 15px;
  }

  .profile2 {
    margin-left: -14vw;
  }

  .count {
    font-size: 18px;
  }

  .profile3 {
    display: flex;
    flex-direction: column;
    padding-left: 4vw;
    margin-top: 2vh;
  }

  .profile-info1 {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 21px;
    margin-bottom: 0.1vh;
    color: white;
  }

  .edit-icon {
    width: 20px;
    height: 20px;
  }
  .HOME-HEAD {
    margin-left: 20vw;
  }
}

@media (max-width: 453px) {
  .profile-head {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgb(15, 15, 15);
  }
  .profile-page {
    width: 98%;
    left: 0;
    height: 66%;
    border: 2px solid white;
    margin-left: 3px;
  }

  .profile-div {
    display: flex;
    flex-direction: column;
    margin-left: 8.1vw;
  }
  .HOME-HEAD {
    margin-left: 29vw;
  }
  .user-img {
    margin-left: 1vw;
    width: 100px;
    cursor: pointer;
    height: 100px;
    border-radius: 50%;
  }

  .profile1 {
    display: flex;
    margin-left: -4vw;
    margin-top: 5vh;
    margin-bottom: -20px;
  }

  .posts {
    margin-right: 10vw;
    font-weight: 400;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    margin-bottom: 2vh;
  }

  .profile2 {
    display: flex;
    justify-content: space-evenly;
    margin-left: -15vw;
  }

  .count {
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
  }

  .count:hover {
    color: rgba(255, 255, 255, 0.9);
  }
  .profile3 {
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    margin-top: 2.5vh;
  }

  .profile-info1 {
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 21px;
    margin-bottom: 0.1vh;
    color: white;
  }

  .profile-info3 {
    font-weight: 400;
    margin-bottom: 0.1vh;
    color: rgba(255, 255, 255, 0.6);
    font-size: 21px;
  }

  .profile-info2 {
    font-weight: 300;
    width: 20vw;
    height: auto;
    font-size: 16px;
    margin-bottom: 0.3vh;
    color: rgba(255, 255, 255, 0.9);
  }

  .profile-info4 {
    font-weight: 400;
    font-size: 19px;
    line-height: 20px;
    margin-bottom: 3vh;
    color: rgba(255, 255, 255, 0.9);
  }

  .edit-icon {
    width: 26px;
    height: 26px;
    margin-top: 2.9vh;
    cursor: pointer;
    margin-left: 88.9vw;
  }
}
@media (max-width: 441px) {
  .profile-div {
    margin-left: 3.1vw;
  }

  .profile1 {
    margin-left: -1vw;
  }

  .profile2 {
    margin-left: -16vw;
  }
}
@media (max-width: 413px) {
  .profile-div {
    margin-left: 0.1vw;
  }

  .profile1 {
    margin-left: -2vw;
  }

  .profile2 {
    margin-left: -16vw;
  }
}
@media (max-width: 389px) {
  .profile-div {
    margin-left: 3vw;
  }

  .profile1 {
    margin-left: -4vw;
  }

  .profile2 {
    margin-left: -16vw;
  }
  .posts {
    font-size: 15px;
  }
}
@media (max-width: 353px) {
  .profile-div {
    margin-left: 8vw;
  }
  .user-img {
    width: 60px;
    height: 60px;
  }

  .profile1 {
    margin-left: -3vw;
  }

  .posts {
    font-size: 14px;
  }
}
/* edit profile responsive */
@media (max-width: 1169px) {
  .edit-profile-page {
    left: 33.5vw;
    width: 56vw;
  }
  .emoji-icon2 {
    width: 24px;
    margin-left: 30vw;
    cursor: pointer;
  }
}

@media (max-width: 1130px) {
  .edit-profile-page {
    left: 33.5vw;
    width: 56vw;
  }
}

@media (max-width: 868px) {
  .edit-profile-page {
    left: 37.5vw;
    width: 56vw;
  }
}
@media (max-width: 520px) {
  .edit-profile-page {
    left: 36.5vw;
    width: 60vw;
  }
}
@media (max-width: 460px) {
  .edit-profile-page {
    left: 39.5vw;
    width: 59vw;
  }
}

@media (max-width: 453px) {
  .edit-profile-page {
    left: 45.5vw;
    width: 54vw;
  }
  .edit-name-input {
    font-weight: 300;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.8);
  }
}

@media (max-width: 381px) {
  .edit-profile-page {
    left: 2vw;
    width: 95%;
  }
  .profile-page {
    left: 2vw;
    width: 95%;
  }

  .edit-icon {
    margin-left: 75.9vw;
  }
  .edit-name {
    margin-left: 2vw;
    line-height: 30px;
  }
  .edit-name-text {
    width: 60vw;
  }
  .emoji-icon2 {
    margin-left: 60vw;
  }
}
