.profile-head {
  width: 100vw;
  height: 100vh;
  /* background-color: #260535; */
}

.profile-page {
  width: 60vw;
  height: fit-content;
  margin-left: 30vw;
  position: absolute;
  top: 5vh;
  padding-bottom: 1vh;
  background: #121212;
  border-radius: 20px;
  padding-bottom: 10vh;
  color: white;
  /* position: fixed; */
}
.profile-body {
  display: flex;
  padding-top: 6vh;
}

.profile-div {
  display: flex;
  flex-direction: column;
  margin-left: 7.5vw;
}
.user-img {
  margin-left: 3vw;
  width: 190px;
  cursor: pointer;
  height: 190px;
  border-radius: 50%;
}
.user-img3 {
  margin-left: 2vw;
  width: 100px;
  cursor: pointer;
  height: 100px;
  border-radius: 50%;
  margin-top: 2vh;
  margin-bottom: -8vh;
}

.profile1 {
  display: flex;
  margin-left: -4vw;
  margin-top: 5vh;
  margin-bottom: -20px;
}

.posts {
  margin-right: 10vw;
  font-weight: 400;
  font-size: 19px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  margin-bottom: 2vh;
}

.profile2 {
  display: flex;
  justify-content: space-evenly;
  margin-left: -15vw;
}
.count {
  width: 26px;
  font-weight: 400;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.profile3 {
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  margin-top: 2.5vh;
}

.profile-info1 {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 27px;
  margin-bottom: 0.7vh;
  color: white;
}

.profile-info3 {
  font-weight: 400;
  margin-bottom: 0.8vh;
  color: rgba(255, 255, 255, 0.6);
  font-size: 21px;
}

.profile-info2 {
  font-weight: 400;
  width: 20vw;
  height: auto;
  font-size: 18px;
  margin-bottom: 0.8vh;
  color: rgba(255, 255, 255, 0.9);
}
.profile-info4 {
  font-weight: 400;
  font-size: 19px;
  line-height: 20px;
  margin-bottom: 3vh;
  color: rgba(255, 255, 255, 0.9);
}

.edit-icon {
  width: 26px;
  height: 26px;
  margin-top: 5vh;
  /* margin-right: 3vw; */
  cursor: pointer;
  margin-left: 54vw;
}

/* edit profile */
.edit-profile-page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 11vh;
  left: 35.5vw;
  width: 40vw;
  padding-bottom: 35px;
  height: fit-content;
  background-color: #121212;
  border: 3px solid rgba(255, 255, 255, 0.7);
  /* box-shadow: 0px 100px 80px #1A1C1E; */
  border-radius: 16px;
  /* display: none; */
  z-index: 110;
  color: white;
}
.input-profile-img {
  background: none;
  border: none;
  outline: none;
}

.edit-img-text {
  font-weight: 400;
  font-size: 16px;
  margin-left: 2vw;
  line-height: 27px;
  cursor: pointer;
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.9);
}

.edit-name {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 18px;
  margin-left: 2vw;
  line-height: 27px;
  margin-bottom: 4vh;

  color: rgba(255, 255, 255, 0.8);
}
.edit-name-text {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  width: 30vw;
  margin-left: 2vw;
  margin-top: -2vh;
  margin-bottom: 3vh;
}

.edit-name-input {
  background: none;
  border: none;
  outline: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  color: rgba(255, 255, 255, 0.8);
}

.emoji-icon2 {
  width: 24px;
  margin-left: 10vw;
  cursor: pointer;
}

.character-count {
  margin-left: 30vw;
  margin-top: -10px;
}
.character-count::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 0;
  color: #888;
  font-size: 12px;
  margin-left: 10vw;
}
@media (max-width: 1245px) {
  .profile-page {
    width: 61vw;
    height: fit-content;
    margin-left: 27vw;
    position: absolute;
    top: 5vh;
    padding-bottom: 1vh;
    background: #121212;
    border-radius: 20px;
    padding-bottom: 10vh;
    color: white;
  }
  .profile-body {
    display: flex;
    padding-top: 3vh;
  }
  .profile-div {
    display: flex;
    flex-direction: column;
    margin-left: 5.5vw;
  }
  .user-img {
    margin-left: 3vw;
    width: 100px;
    cursor: pointer;
    height: 100px;
    border-radius: 50%;
    margin-top: 3.9vh;
  }
}

@media (max-width: 900px) {
  .profile-page {
    width: 67vw;
    height: fit-content;
    margin-left: 27vw;
    position: absolute;
    top: 5vh;
    padding-bottom: 1vh;
    background: #121212;
    border-radius: 20px;
    padding-bottom: 10vh;
    color: white;
  }
}

@media (max-width: 789px) {
  .profile-page {
    width: 69vw;
    height: fit-content;
    margin-left: 27vw;
    position: absolute;
    top: 5vh;
    padding-bottom: 1vh;
    background: #121212;
    border-radius: 20px;
    padding-bottom: 10vh;
    color: white;
  }
}

@media (max-width: 789px) {
  .profile-page {
    width: 71vw;
    margin-left: 27vw;
    top: 5vh;
    padding-bottom: 1vh;
  }
}

@media (max-width: 639px) {
  .profile-page {
    width: 74vw;
    margin-left: 29vw;
    top: 19vh;
    padding-bottom: 3vh;
  }
}
@media (max-width: 604px) {
  .profile-page {
    width: 78vw;
  }
}

@media (max-width: 578px) {
  .profile-page {
    width: 81vw;
    left: 0.1vw;
  }
  .profile-body {
    display: flex;
    padding-top: 1vh;
  }
  .profile-div {
    display: flex;
    flex-direction: column;
    margin-left: 4.7vw;
  }
}

@media (max-width: 526px) {
  .profile-page {
    width: 85vw;
    left: 0.1vw;
  }
  .profile-body {
    display: flex;
    padding-top: 0.1vh;
  }
  .profile-div {
    display: flex;
    flex-direction: column;
    margin-left: 4.7vw;
  }
}

@media (max-width: 389px) {
  .profile-page {
    width: 107vw;
    left: 0.1vw;
  }
  .profile-body {
    padding-top: -1vh;
    display: flex;
  }

  .profile-div {
    display: flex;
    flex-direction: column;
    margin-left: 4.7vw;
  }
}

@media (max-width: 339px) {
  .profile-page {
    width: 116vw;
    left: 0.01vw;
  }
  .profile-body {
    padding-top: -2vh;
    display: flex;
  }

  .profile-div {
    display: flex;
    flex-direction: column;
    margin-left: 4.7vw;
  }
}
