.create-post {
  /* position: fixed; */
  width: 40vw;
  height: fit-content;
  /* left: 29vw; */
  margin-top: 6vh;
  border: 1.9px solid rgba(255, 255, 255, 0.1);
  z-index: 20;
  display: flex;
  flex-direction: column;
  padding-left: 1.5vw;
  overflow-x: hidden;
  padding-bottom: 50px;
  /* margin-left: 3.9vw; */
  /* align-items: center; */
  color: white;
  /* height: 65vh; */
  /* margin-top: 50px; */
  margin: 0 auto;
}

.create-post::-webkit-scrollbar {
  width: 6px;
}

.create-post::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color of the scrollbar thumb */
}

.create-post::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the scrollbar track */
}
.create-post-div1 {
  display: flex;
  /* margin-top: 7vh; */
  /* padding-top: 1vh; */
}
.create-post-div {
  display: flex;
  flex-direction: column;
}
.user-name {
  margin-bottom: -10px;
  margin-left: 1vw;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
}

.username {
  height: 20px;
  margin-left: 1vw;
  font-weight: 400;
  font-size: 1.1rem;
  color: rgb(174, 113, 215, 0.9);
}
.create-post-text {
  /* display: flex; */
}

.post-text {
  margin-top: 15px;
  font-weight: 300;
  font-size: 18px;
  color: rgba(245, 241, 241, 0.7);
  margin-left: 1vw;
}
.input-post {
  margin-top: 10px;
  width: 30.5vw;
  margin-left: 1vw;
}
.write-post-text {
  width: 30.5vw;
  border: none;
  height: 70px;
  outline: none;
  background: none;
  font-weight: 500;
  font-size: 19px;
  color: rgba(255, 255, 255, 0.8);
  flex-wrap: wrap;
  padding: 20px;
  background-color: rgb(17, 17, 17);
}
.create-btn {
  border: none;
  width: 15vw;
  height: 39px;
  /* margin-left: 1.7vw; */
  border-radius: 13px;
  cursor: pointer;
  font-weight: 300;
  font-size: 17px;
  margin-top: 4vh;
  margin-left: 1vw;
  color: black;
  background-color: #ae71d7;
}

.create-post2 {
  display: flex;
  margin-top: 16px;
  /* align-items: center; */
}

.create-imgs {
  /* display: flex; */
  /* flex-direction: row; */
}
.img-icon {
  cursor: pointer;
  margin-right: 2.1vw;
  margin-top: 0.7vh;
  margin-left: 1vw;
}

#upload-img {
  background: none;
  border: none;
  outline: none;
}

.vdeo-icon {
  height: 34px;
  cursor: pointer;
  margin-right: 2.1vw;
  /* margin-top: -0.1vh; */
}

#upload-vdeo {
  background: none;
  border: none;
  outline: none;
  /* display: none; */
}

.image-text {
  font-size: 12px;
  margin-top: 3px;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 1vw;
}

.video-text {
  font-size: 12px;
  margin-top: 3px;
  color: rgba(255, 255, 255, 0.6);
}
.selected-img {
  width: 30vw;
  margin-top: 2vh;
  height: 30vh;
}

.selected-video {
  width: 30vw;
  height: 30vh;
  margin-top: 2vh;
}

.emoji-icon {
  cursor: pointer;
  margin-right: 2.1vw;
  margin-top: 0.7vh;
  height: 27px;
  cursor: pointer;
  margin-right: 2.1vw;
}

.emojipicker1 {
  position: absolute;
  top: 39vh;
  left: 17vw;
  width: 19vw;
}

.emoji-text {
  font-size: 12px;
  margin-top: 4px;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 999px) {
  .emojipicker1 {
    position: absolute;
    top: 39vh;
    left: 19vw;
    width: 10vw;
  }
}
@media (max-width: 381px) {
  .create-post {
    left: 0vw;
    width: 100%;
  }
  .create-post-div1 {
    padding-top: 0vh;
    margin-top: 1vh;
  }

  .post-text {
    font-size: 17px;
    margin-top: 3vh;
  }

  .write-post-text {
    width: 70.5vw;
    height: 70px;
    font-size: 15px;
  }
  .create-btn {
    width: 20vw;
    height: 39px;
    margin-top: 3vh;
  }

  .image-text {
    font-size: 12px;
    margin-top: 3px;
  }

  .selected-img {
    width: 79.5vw;
    margin-top: 1vh;
  }

  .selected-video {
    width: 79.5vw;
    height: 30vh;
    margin-top: 1vh;
  }

  .emoji-icon {
    cursor: pointer;
    margin-right: 2.1vw;
    margin-top: 0.7vh;
    height: 27px;
    cursor: pointer;
    margin-right: 2.1vw;
  }

  .emojipicker1 {
    position: absolute;
    top: 39vh;
    left: 17vw;
    width: 10vw;
  }

  .emoji-text {
    font-size: 12px;
    margin-top: 4px;
    color: rgba(255, 255, 255, 0.6);
  }
}
