.create-post {
  /* position: fixed; */
  width: 30vw;
  /* height: fit-content; */
  /* left: 29vw; */
  top: 80px;

  border: 1.9px solid rgba(255, 255, 255, 0.1);
  z-index: 20;
  display: flex;
  flex-direction: column;
  padding-left: 1.5vw;
  overflow-x: hidden;
  padding-bottom: 50px;
  margin-left: 1.9vw;
  color: white;
  margin-top: 10px;
}
.create-post-div1 {
  display: flex;
  padding-top: 3vh;
}
.create-post-div {
  display: flex;
  flex-direction: column;
}
.user-name {
  margin-bottom: -10px;
  margin-left: 1vw;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
}

.username {
  width: 117px;
  height: 20px;
  margin-left: 1vw;
  font-weight: 500;
  font-size: 1.1rem;
  color: rgb(174, 113, 215, 0.9);
}
.create-post-text {
  /* display: flex; */
}

.post-text {
  margin-top: 15px;
  font-weight: 300;
  font-size: 18px;
  line-height: 19px;
  color: rgba(245, 241, 241, 0.7);
  margin-left: 1vw;
}
.input-post {
  margin-top: 10px;
  width: 30.5vw;
  margin-left: 1vw;
}
.write-post-text {
  width: 23.5vw;
  border: none;
  height: 60px;
  outline: none;
  background: none;
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  flex-wrap: wrap;
  padding: 20px;
  background-color: rgb(17, 17, 17);
}
.create-btn {
  border: none;
  width: 10vw;
  height: 36px;
  /* margin-left: 1.7vw; */
  border-radius: 13px;
  cursor: pointer;
  font-weight: 300;
  font-size: 17px;
  margin-top: 4vh;
  margin-left: 1vw;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(174, 113, 215, 0.9);
}

.create-post2 {
  display: flex;
  margin-top: 16px;
  /* align-items: center; */
}

.create-imgs {
  /* display: flex; */
  /* flex-direction: row; */
}
.img-icon {
  cursor: pointer;
  margin-right: 2.1vw;
  margin-top: 0.7vh;
  margin-left: 1vw;
}

#upload-img {
  background: none;
  border: none;
  outline: none;
}

.vdeo-icon {
  height: 34px;
  cursor: pointer;
  margin-right: 2.1vw;
  /* margin-top: -0.1vh; */
}

#upload-vdeo {
  background: none;
  border: none;
  outline: none;
  /* display: none; */
}

.image-text {
  font-size: 12px;
  margin-top: 3px;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 1vw;
}

.video-text {
  font-size: 12px;
  margin-top: 3px;
  color: rgba(255, 255, 255, 0.6);
}
.selected-img {
  width: 30vw;
  margin-top: 2vh;
  height: 30vh;
}

.selected-video {
  width: 30vw;
  height: 30vh;
  margin-top: 2vh;
}

.emoji-icon {
  cursor: pointer;
  margin-right: 2.1vw;
  margin-top: 0.7vh;
  height: 27px;
  cursor: pointer;
  margin-right: 2.1vw;
}

.emoji-text {
  font-size: 12px;
  margin-top: 4px;
  color: rgba(255, 255, 255, 0.6);
}
