.search-page {
  background-color: rgb(19, 19, 19);
  width: 100vw;
  height: 100vh;
}
.search-sidebar {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  left: 21vw;
  /* top: 90px; */
  padding: 10px 4px 20px 8px;
  background: black;
  border-radius: 8px;
  position: fixed;
  /* overflow-y: scroll; */
  /* scroll-behavior: smooth; */
  color: white;
  width: 90vw;
  height: 100vh;

  /* scrollbar-width: thin; */
  /* scrollbar-color: transparent transparent; */
}

.search-sidebar ::-webkit-scrollbar {
  width: 6px;
}

.search-sidebar ::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color of the scrollbar thumb */
}

.search-sidebar ::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the scrollbar track */
}

.menu-icon-search {
  width: 20px;
  margin-top: 1.8vh;
  margin-bottom: -8vh;
  cursor: pointer;
  /* display: none; */
  margin-left: 2.8vw;
}
@media (max-width: 967px) {
  .search-sidebar {
    left: 27vw;
    width: 75vw;
  }
  .lists-item {
    list-style: none;
    /* margin-top: 30px; */
    font-weight: 100;
    font-size: 21px;
    color: rgba(224, 216, 216, 0.9);
  }
}

@media (max-width: 867px) {
  .search-sidebar {
    left: 33vw;
    width: 69vw;
  }
  .lists-item {
    list-style: none;
    /* margin-top: 30px; */
    font-weight: 100;
    font-size: 20px;
    color: rgba(224, 216, 216, 0.9);
  }
}

@media (max-width: 727px) {
  .search-sidebar {
    left: 33vw;
    width: 60vw;
  }
}
@media (max-width: 453px) {
  .search-sidebar {
    left: 45vw;
    width: 60vw;
  }
}
@media (max-width: 381px) {
  .search-sidebar {
    left: 0vw;
    width: 100%;
  }
  /* .menu-icon-search {
    display: block;
    margin-left: 2.8vw;
  } */
}
